body{
    background: #f5f5f5;
}

body input{
	outline: none;
}
.v.h{
  width: 100%;
  padding: 8px 0;
  background: none;
}
.v.h.bbottom{
  border-bottom: 1px solid #ddd;
  background: #fff;
  padding: 6px 0px;
}
.v.table tr th{
    background: #fff;
    line-height: inherit;
    border: 1px solid #e2e2e2;
}
.v.table tr th{
  text-align: left;
  color: #888;
  font-weight: 400;
  font-size: 13px;
}
.v.table tr td{
  font-size: 13px;
  border: 1px solid #e2e2e2;
  background: #fff;
}
.v.btn{
  font-size: 13px;
  border-radius: 0px;
}
.v.btn.blue{
  background: #008bd5;
}

.v.btn.blue:hover{
  background: #0070ab;
}
.v.page{
  text-align: right;
}
.v.breadnav1{
  border: none;
  border-radius: 0px;
  background: #fff;
  width: initial;
  float: right;
  margin-right: 20px;
  font-weight: 400;
}

.v.h.bbottom .titile{
  line-height: 36px;
  margin-left: 20px;
}

.v.page li .btn.bdr{
  border-radius: 0px;
}

.v.page li{
  margin: 0 1px;
}


.search_div{
  background:#fff;
  display: flex;
  margin-bottom:20px;
  padding:10px 20px;
  justify-content: flex-start;
  position: relative;
}
.search_div div{
  height: 40px;
  line-height: 40px;
}
.search_div .item{
  margin-right: 20px;
}
.search_div div>label{
  margin-right:10px;
}
.search_div input{
  display: inline-block;
  height: 29px;
  line-height: 29px;
  border: 1px solid #e2e2e2;
  width: 120px;
}
.search_div select{
  display: inline-block;
  height: 30px;
  line-height: 30px;
  border: 1px solid #e2e2e2;
  min-width: 120px;
}
.search_div .search{
  margin-left: 40px;
}

.bgpd15{
  background: #fff;
  padding: 15px;
}

.v.input_2 label{
  line-height: 30px;
  height: 30px;
}
.v.input_2 input.text{
  border-radius: 0px;
  padding: 6px 1%;
}
.v.input_2 label.checkbox{
  overflow: inherit;
}
/*预览部分*/
#preview{
  display:none;
}
#preview_con{
  width:100%;
}
/*大图*/
#preview_con #large{
  /*text-align: center;*/
  margin-top:10px;
  /*padding:5px 3px;*/
  /*-webkit-box-sizing: border-box;*/
  /*-moz-box-sizing: border-box;*/
  /*box-sizing: border-box;*/
  width:100%;
  /*height:250px;*/
}
#preview_con #large #img_mask{
  overflow: hidden;
  position: relative;
  width:600px;
  height:340px;
}
#preview_con #large #img_mask img{
}
/*小图*/
#preview_con #small{
  margin-top:10px;
  margin-bottom:20px;
  /*display: flex;*/
  /*align-items: center;*/
  /*justify-content:space-between;*/
}
#preview_con #small ul{
  overflow-x:auto;
  position: relative;
  list-style: none;
  display: flex;
  align-items: center;
  width:96%;
  margin-left: 14px;
}
#preview_con #small ul li{
  flex:1;
  display:inline-block;
  /*height:100px;*/
  padding:5px 2px;
  text-align: center;
}
#preview_con #small ul li img{
  max-width:90px;
  padding:1px;
}
#preview_con #small span{
  position: absolute;
  font-size:24px;
  font-weight:bold;
}
#preview_con #small .next{
  right:-5px;
  top:390px;
}
#preview_con #small .pre{
  left:0;
  top:390px;
}
#preview_con #small .iconfont{
  font-size:24px;
}
#preview_con #small .active_img{
  border:2px solid red;
}


.pane-wrap {
  position: relative;
  overflow: auto;
  background-color: #eee;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  user-select: none;
}
svg.pane-wrap{

}
.connector:hover{
  stroke-width: 3px;
}
.pane-node-content {
  width: 148px;
  height: 28px;
  border: 1px solid #289DE9;
  border-radius: 15px;
  font-size: 12px;
  -webkit-transition: background-color .2s;
  transition: background-color .2s;
  line-height: 28px;
  text-align: center;
  padding-right: 20px;
  font-size: 14px;

}
.pane-node-content .icon {
  float: left;
  color: #FFF;
  font-size: 16px;
  background-color: #289DE9;
}
.pane-node-content .name {
  float: left;
  margin-left: 2px;
  width: 125px;
  height: 28px;
  font-size: 14px;
  overflow: hidden;
  text-align: center;
}
.pane-port-list.out {
  margin-top: -5px;
  clear: both;
  float: left;
  width: 180px;
  margin-top: -5px;
}
.pane-port-wrap {
  height: 1px;
  float: left;
}
.pane-node-content .icon {
  float: left;
  color: #FFF;
  font-size: 16px;
  background-color: #289DE9;
}
.pane-node-content .icon, .pane-node-content .status{
  width: 26px;
  height: 26px;
  margin: 1px;
  border-radius: 100%;
}
.pane-port {
  width: 10px;
  height: 10px;
  float: right;
  margin-right: -5px;
  border: 1px solid grey;
  border-radius: 50%;
  background-color: #fff;
  -webkit-transition: background-color .2s;
  transition: background-color .2s;
  cursor: pointer;
}
.m_add_btn .pane-port{
  display: none;
}
.m_add_btn{
  background-color: rgba(227,244,255,.9);
}


.end-pan{
  display: none;
  border: 1px solid #289DE9;
  background-color: #289DE9;
}
.end-pan:hover{
  border: 1px solid #289DE9;
  background-color: #289DE9;
}

.pane-node-content .name, .tree-node-label{
  line-height: 28px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.pane-node-content:hover, .pane-node.selected .pane-node-content, .pane-node-content.active {
  background-color: rgba(227,244,255,.9);
}

.pane-node-content.current{
  background-color: rgba(19,203,212,.3);
}

.bpmn-top {
  top: 0;
  -webkit-box-shadow: 0 0 16px -5px rgba(0,0,0,.2);
  box-shadow: 0 0 16px -5px rgba(0,0,0,.2);
}

.bpmn-bottom, .bpmn-top {
  z-index: 9;
  height: 40px;
  background-color: #FFF;
  line-height: 40px;
  text-align: center;
  position: absolute;
  width: 100%;
}
.svgdiv{
  position: absolute;
  top:0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  overflow: auto;
}
.svg_ico{
  width: 40px;
  text-align: center;
  height: 400px;
  position: absolute;
  right: 0px;
  top:50px;
  z-index: 2;
}
.svg_ico i{
  width: 30px;
  display: block;
  height: 30px;
  line-height: 30px;
  cursor: pointer;
  background: #eee; margin-bottom: 2px;
}

/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
.scrollbar::-webkit-scrollbar {
  width: 5px;
  height: 5px;
//    background-color: #fff;
}

/*定义滚动条轨道 内阴影+圆角*/
.scrollbar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0);
  border-radius: 0px;
//  background-color: #fff;
}

/*定义滑块 内阴影+圆角*/
.scrollbar::-webkit-scrollbar-thumb {
  border-radius: 0px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0);
  background-color: #337ab7;
}


/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
.scrollbarbig::-webkit-scrollbar {
  width: 14px;
  height: 14px;
//    background-color: #fff;
}

/*定义滚动条轨道 内阴影+圆角*/
.scrollbarbig::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0);
  border-radius: 0px;
//  background-color: #fff;
}

/*定义滑块 内阴影+圆角*/
.scrollbarbig::-webkit-scrollbar-thumb {
  border-radius: 0px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0);
  background-color: #337ab7;
}
/*提示框*/
.tooltip{
  display: none;
  position: absolute;
  right:-120px;
  color: #f00;
}
/*权限列表*/
#showinfohtml{
  width:400px;
  margin:20px auto;
}
#empower{
  width:300px;
  margin:20px auto;
}
#showinfohtml div,#empower div{
  margin-bottom:20px;
}
#showinfohtml input[type='checkbox'],#empower input[type='radio']{
  height:30px;
  line-height:30px;
  margin-right:10px;
}
#showinfohtml input[type='text'],#empower input[type='text']{
  padding:5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height:30px;
  line-height:30px;
  margin-right:10px;
}


/****************input.html******************/
.cfg_test_data{
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
  width: 100%;
  overflow: hidden;
  overflow-y: auto;
}

.cfg_test_data .content{

  padding: 10px;
}
.cfg_test_data .content div{
  font-size: 13px;
  color: #666;
  line-height: 30px;
}
.cfg_test_data .content .row{
  margin-bottom: 10px;
}
.cfg_test_data .content .call input{
  height: 20px;
  width: 98%;
  border: 1px solid #ccc;
  padding: 5px 1%;
}
.cfg_test_data .content .type select{
  height: 30px;
  width: 100%;
}
.cfg_test_data .content .describe textarea{
  height: 200px;
  width: 100%;
  width: 98%;
  border: 1px solid #ccc;
  padding: 5px 1%;
}


/****************select.html******************/
.cfg_select_data{
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
  width: 100%;
  background: rgba(220,220,220,.7);
}
.cfg_select_data i{
  color: #69e;
  text-indent: 1em;
}
.cfg_title{
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #8B8B8B;
  -webkit-box-shadow: 0 0 16px -5px rgba(0,0,0,.2);
  box-shadow: 0 0 16px -5px rgba(0,0,0,.2);
}
.cfg_select_data .all_data,.my_data,.task_data{
  line-height: 30px;
  color: #666;
  font-size: 14px;
  background: #ededed;
  border-bottom: 1px solid rgba(220,220,220,.7);
  border-top: 1px solid rgba(220,220,220,.7);
  cursor: pointer;
}
.cfg_select_data .all_data .select,.my_data,.task_data .select{
  float:right;
}
.for_task_data{
  display: none;
}
.for_task_data.active{
  display: block;
}
.cfg_select_data .for_task_data{
  display: block;
}
.cfg_select_data ul li{
  position: relative;
  text-indent: 1em;
  font-size: 13px;
}
.for_task_data li .fa{
  display: inline-block;
  width: 5%;
}
.for_task_data li .did{
  display: inline-block;
  width: 20%;
}
.for_task_data li .topic{
  display: inline-block;
  width: 45%;
}
.for_task_data li .sample{
  display: inline-block;
  width: 10%;
}
.for_task_data li .collect{
  display: inline-block;
  width: 10%;
}
.cfg_select_data .all_data li:nth-child(2n),.my_data li:nth-child(2n),.task_data li:nth-child(2n){
  background: #ededed;
}
.cfg_select_data .all_data li:nth-child(2n + 1),.my_data li:nth-child(2n + 1),.task_data li:nth-child(2n + 1){
  background: #ffffff;
}
.cfg_select_data .task_data{
  border-top: 2px solid rgba(255,255,255,.5);
}
.cfg_select_data .task_data .select{
  float: right;
  line-height: 30px;
  color: #666;
  font-size: 10px;
}
.for_task_data li{
  padding:0 20px;
}

.for_task_data .fa.active {
  color:#289DE9;
}

/*loading样式*/
.spinner > div {
  background-color: #0099ff;
  height: 100%;
  width: 6px;
  margin-right:3px;
  display: inline-block;
  -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
  animation: stretchdelay 1.2s infinite ease-in-out;
}
.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}
.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}
.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;

}
@-webkit-keyframes stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
  20% { -webkit-transform: scaleY(1.0) }
}
@keyframes stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% {
       transform: scaleY(1.0);
       -webkit-transform: scaleY(1.0);
     }
}
.left-triangle{
  width:0;
  height:0;
  border-right:5px solid black;
  border-bottom:3px solid black;
  border-top:3px solid black;
}



.title-ico{
  padding:0 10px;
  display: block;
}

.select_data{
  position: relative;
  width:100%;
  top:40px;
  bottom: 345px;
  overflow: hidden;
  overflow-y: auto;
}
.select_sub_data{
  position: absolute;
  bottom:40px;
  width:100%;
}
.select_sub_data .for_task_data{
  height: 300px;
  overflow: hidden;
  overflow-y: auto;
}
.select_sub_btn{
  position: absolute;
  bottom:0px;
  width:100%;
  height: 40px;
  background: #eee;
}
.select_sub_btn .b-btn{
  float: right;
  margin-top: 5px;
  margin-right: 10px;
}

.overhide{
  position: absolute;
  top:0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  overflow: hidden;
}

.pane-port-list.in {
  clear: both;
  margin-top: -34px;
}

.pane-port-list {
  float: left;
  width: 180px;
  margin-top: -5px;
}
.search_div .item{
  display: flex;
  align-items: center;
}
#_searchdata .show_tag{
  background:#eee;
  color: #888;
  height: 30px;
  line-height: 30px;
  padding: 0 7px;
}
#_searchdata .tags{
  background:#eee;
  color: #888;
  display: inline-block;
  height: 30px;
  overflow: hidden;
  line-height: 30px;
  max-width: 150px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.btn_hide{
  background:#eee;
  color: #888;
  display: inline-block;
  height: 30px;
  overflow: hidden;
  line-height: 30px !important;
  max-width: 150px;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

#__vPrompt{
  top:-20px;
  position:absolute;
  animation:slide 0.7s;
  -webkit-animation:slide 0.7s;
  z-index: 99999;
  animation-fill-mode: forwards;
}
@keyframes slide
{
  from {top :-20px;}
  to {top:60px;}

}
.left-triangle{
  position: absolute;
  width: 0;
  height: 0;
  border-right: 5px solid black;
  border-bottom: 3px solid transparent;
  border-top: 3px solid transparent;
  top: 5px;
}

.evaluate_config_list{
  top: 0;
  right: 0;
  background: #eee;
  max-height: 350px;
  overflow: auto;
}
#paramlist{
  width: 490px;
  float: right;
  overflow-y: auto;
  margin-right:20px;
  position: absolute;
  right: 0;
  top:90px;
}


#_train_flow{
  position: absolute;
  left: 270px;
  bottom: 400px;
  top: 10px;
  right: 650px;
  border-left:2px solid #eee;
  border-right:2px solid #eee;
  border-bottom:2px solid #eee;
}
#_evaluate_result{
  position: absolute;
  left: 270px;
  top: 420px;
  height:80px;
  right: 650px;
  border-left:2px solid #eee;
  border-right:2px solid #eee;
}
#_chart_list{
  position: absolute;
  left: 270px;
  top: 500px;
  right:650px;
  border-left:2px solid #eee;
  border-right:2px solid #eee;
}
#_right_panel{
  position: absolute;
  top: 20px;
  bottom: 0px;
  right: 20px;
  width:600px;
  overflow: auto;
}
#modellist{
  width:250px;
  max-height: 768px;
  overflow: auto;
}
#modellist ul li {
  border: 1px solid #ddd;
  padding: 10px;
}
#modellist ul li:hover{
  background: rgba(227,244,255,.9);
}
#modellist .model_list_item div{
  margin-bottom:5px;
}
#modellist .selected{
  background: rgba(227,244,255,.9);
}
#modellist .model_list_item a{
  float: right;
  margin-right:3px;
}
#modellist .model_list_item div>span{
  display: block;
}
#toTop{
  position: absolute;
  left:230px;
  bottom:10px;
}
#index_small li{
  max-width:150px;
  margin-right:10px;
}
#index_small li img{
  width:100%;
}

#demo #leftlist{
  position: absolute;
  width:200px;
  text-align: center;
  border:1px solid #ddd;
}
#demo #leftlist ul li{
  padding:10px;
  border-bottom:1px solid #ddd;
}
#demo #leftlist ul li:last-child{
  border-bottom:none;
}
#demo #leftlist li.selected{
  background: #eee;
}
#demo #right_section{
  position: absolute;
  margin-left:200px;
  padding:0 10px;
}
#demo #right_section #select_img{
  padding: 10px 20px;
}
#demo #right_section #select_img form input{
  margin-right:10px;
}
#demo #pre_result{
  width: 96%;
  margin:10px auto;
  padding: 20px;
  box-sizing: border-box;
  border:1px solid #eee;
  position: relative;
}
#demo #pre_result #img_mask{
  margin:0 auto;
  overflow: hidden;
  position: relative;
  text-align: center;
  width:800px;
  height:453px;
}
#demo #pre_result img{
  width:100%;
}
#imgs{
  height:150px;
  display: flex;
  align-items:center;
}
#imgs .pre,#imgs .next{
  background: #eee;
}
#imgs ul{
  overflow-x:auto;
  position: relative;
  list-style: none;
  display: flex;
  align-items: center;
  width:96%;
}
#imgs ul li:first-child{
  margin-left:10px;
}
#imgs ul li{
  flex:1;
  margin-right:10px;
}
#imgs ul li img{
  width:100%;
  height:100%;
}
#imgs ul li .cur_img{
  border:2px solid red;
}
#demo #full_screen{
  position: absolute;
  z-index:9999;
  right:10px;
  bottom:10px;
}

.tabdata{
  background: #fff;
  height: 42px;
  line-height: 40px;
  margin-left: 1px;
}
.tabdata span{
  display: inline-block;
  padding:0 20px;
  width:100px;
  text-align: center;
  border-bottom: 2px solid #fff;
}
.tabdata span.active{
  border-bottom: 2px solid #289DE9;
}


.style_item_model{
  display: inline-block; width: 200px; height: 200px; background: #eee; margin: 2px; border: 2px solid #fff; text-align: center; overflow: hidden;
}
.style_item_model .title{
  display: block;font-size: 14px;line-height: 30px;background: #ddd; height: 30px; width: 100%; overflow: hidden
}
.style_item_model.active{
  border: 2px solid #09f;
}
._size_line{
  position: relative;
}
._size_line:before{
  content:" ";
  position: absolute;
  height: 20px;
  width: 1px;
  background: #333;
  top: -10px;
  left: -1px;
}
._size_line:after{
  content:" ";
  position: absolute;
  height: 20px;
  width: 1px;
  background: #333;
  top: -10px;
  right: 0px;
}

._size_linered{
  position: relative;
}
._size_linered:before{
  content:" ";
  position: absolute;
  height: 20px;
  width: 1px;
  background: #f00;
  top: -10px;
  left: -1px;
}
._size_linered:after{
  content:" ";
  position: absolute;
  height: 20px;
  width: 1px;
  background: #f00;
  top: -10px;
  right: 0px;
}


.clear{ clear:both}

#standard_div_con{
  background: #ffff66;
  background: url(../images/carpic.png?da4fa);
  background-size: 100% 100%;
}
#demo_div{
  background: url(../images/chanjing.png?34231);
  background-size: 150% 150%;
  background-repeat:no-repeat;
  background-position: center;
}


.hidetext{
  display: inline-block;
  width:100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.v.btn.blue.radius{
  min-width: 90px;
  border-radius: 5px;
}


.workflow_block{
  display: inline-block;
  width: 160px;
  text-align: left;
  padding: 20px;
}
.work_point{
  display: inline-block;
  border-radius: 50%;
  width: 21px;
  height: 21px;
  position: relative;
  margin-top: -3px;
}
.work_point.gray{
  background: #D8D8D8;
}
.work_point.blue{
  background: #008CD6;
}
.work_line{
  display: inline-block;
  width: 4px;
  height: 60px;
  position: relative;
  left: 8px;
  margin-top: -3px;
}
.work_line.gray{
  background: #D8D8D8;
}
.work_line.blue{
  background: #008CD6;
}

.work_btn{
  display: inline-block;
  height: 40px;
  width: 120px;
  border: 1px solid #E2E2E2;
  background: #fff;
  color: #444;
  position: absolute;
  top: -12px;
  left: 40px;
  cursor: pointer;
  text-align: center;
  line-height: 40px;
}
.work_btn.blue{
  border: 1px solid #008CD6;
  background: #fff;
  color: #008CD6;
}




